/HELLOFILE/nbproject/private/
/HELLOFILE/build/
/J01001-HINH_CHU_NHAT/nbproject/private/
/J01001-HINH_CHU_NHAT/build/
/J01001_HINH_CHU_NHAT/nbproject/private/
/J01001_HINH_CHU_NHAT/build/
/J01002_TINH_TONG/nbproject/private/
/J01002_TINH_TONG/build/
